html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: #99ccff;
}

h1 {
	font-family: fantasy;
	font-size: 6em;
	text-align: center;
	margin-top: 20px;
}

h2 {
	font-family: fantasy;
	font-size: 2em;
	text-align: center;
	font-style: italic;
}

img {
	width: 20vw;
	height: 20vw;
	margin: 10px;
}

td {
	font-size: 5vw;
}

#next_dates_txt {
	vertical-align:top;
}

